# Node
node_modules/
dist/
build/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Editor/OS
.vscode/
.idea/
.DS_Store
npm-debug.log
yarn-error.log

# Prisma
prisma/dev.db

# Logs
logs/
*.log